## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia

os:
  - linux
julia:
  - 1.0
  - nightly
  
after_success:
  - julia -e 'cd(Pkg.dir("ImportAll")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'