# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - nightly
  - 1.0
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
after_success:
  - julia -e 'using Pkg; cd(Pkg.dir("LorentzVectors")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
