language: julia
julia:
  - 0.7
  - 1.0
notifications:
    email: false
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia --check-bounds=yes -e 'using Pkg; Pkg.clone(pwd()); Pkg.build("Divergences"); Pkg.test("Divergences"; coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("Divergences")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder()); Coveralls.submit(Coveralls.process_folder())'
